body {
  background: #b5b5e2;
  color: #f8f1f1;
  margin : 25%;
  padding: 0;

}

header {
  background: url('index.jpg');
  background-size: cover;
  background-position: center;
  height: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#TOP10 {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  border:1pxsolid #000000;
}
